doctype html
html lang="ja"
  head
    title Akihiko Horiuchi

    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"

    link href="./assets/stylesheets/bower_components.min.css" rel="stylesheet"
    link href="./assets/stylesheets/application.min.css" rel="stylesheet"
    link href="./assets/images/favicon.ico" rel="shortcut icon"

  body
    nav.navbar.navbar-fixed-top.bg-white
      .container.text-center
        .navbar-brand.text-sensu
          span.bold Akihiko
          i.fa.fa-leaf.m-x-sm
          span.bold Horiuchi

    .container.m-t-md
      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-user.m-r-sm
            span.bold About me
          .cart-text
           ul.fa-ul.m-b-0
              li
                i.fa.fa-li.fa-graduation-cap
                | Graduate School of Engineering, Kagawa University
              li
                i.fa.fa-li
                | Reliability-based Information Systems Engineering
              li
                i.fa.fa-li
                | Second year graduate studnet
              li
                i.fa.fa-li.fa-flask
                a.link-white href="https://air.eng.kagawa-u.ac.jp/" target="_blank"
                  | Saisho Laboratory
                  i.fa.fa-external-link.m-l-sm

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-globe.m-r-sm
            span.bold SNS &amp; Blog
          .cart-text
            a.btn.text-sensu.bg-white.m-r-sm href="https://twitter.com/hico_horiuchi" target="_blank"
              i.fa.fa-lg.fa-twitter.m-r-sm
              | Twitter
            a.btn.text-sensu.bg-white.m-r-sm href="https://www.facebook.com/hico.horiuchi" target="_blank"
              i.fa.fa-lg.fa-facebook.m-r-sm
              | Facebook
            a.btn.text-sensu.bg-white.m-r-sm href="https://github.com/hico-horiuchi" target="_blank"
              i.fa.fa-lg.fa-github-alt.m-r-sm
              | GitHub
            a.btn.text-sensu.bg-white.m-r-sm href="http://qiita.com/hiconyan" target="_blank"
              i.fa.fa-lg.fa-search.m-r-sm
              | Qiita
            a.btn.text-sensu.bg-white.m-r-sm href="http://hico-horiuchi.hateblo.jp/" target="_blank"
              i.fa.fa-lg.fa-pencil.m-r-sm
              | Blog

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-keyboard-o.m-r-sm
            span.bold Research
          .cart-text
            ul.fa-ul.m-b-0
              li
                i.fa.fa-li.fa-tags
                | Cloud, Auto Scaling, Load Balancer, Load Distribution, Load Observation

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-desktop.m-r-sm
            span.bold Environment
          .cart-text
            ul.fa-ul.m-b-0
              li
                i.fa.fa-li.fa-server
                | Ubuntu Server
              li
                i.fa.fa-li.fa-terminal
                a.link-white href="https://github.com/hico-horiuchi/initfiles" target="_blank"
                  | Zsh
                  i.fa.fa-external-link.m-l-sm
              li
                i.fa.fa-li.fa-keyboard-o
                a.link-white href="https://github.com/hico-horiuchi/dotemacs" target="_blank"
                  | Emacs
                  i.fa.fa-external-link.m-l-sm
              li
                i.fa.fa-li.fa-code
                | Ruby, Ruby on Rails, Hubot, Sensu, Ansible, Golang
              li
                i.fa.fa-li.fa-paint-brush
                | Microsoft Expression Design 4

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-code-fork.m-r-sm
            span.bold Project
          .card-content#project-app

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-child.m-r-sm
            span.bold Club
          .card-content#club-app

      .card.bg-sensu.border-sensu.m-b-md.animated.fadeInRight
        .card-block.text-white.p-a-md
          h4.card-title.m-b-md
            i.fa.fa-paint-brush.m-r-sm
            span.bold Design
          .card-content#design-app

    footer.small.m-b-md.text-muted
      .container.text-center
        i.fa.fa-copyright.m-r-sm
        a.link-muted href="http://hico-horiuchi.github.io/" target="_blank" Akihiko Horiuchi

    script src="./assets/javascripts/bower_components.min.js" type="text/javascript"
    script src="./assets/javascripts/application.min.js" type="text/javascript"
