body { padding: 20px 0; }
h4 .fa { margin-right: 10px; }
.row { margin-bottom: 0; }

html {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}
.bold { font-weight: 800; }
.th   { font-weight: 800; }

.left-large-center-med  { text-align: left;  }
.right-large-center-med { text-align: right; }

.sensu         { background-color: rgb(132, 179,  87); }
.sensu-lighten { background-color: rgb(217, 223, 193); }
.sensu-darken  { background-color: rgb( 58, 107,  72); }
.sensu-text         { color: rgb(132, 179,  87); }
.sensu-lighten-text { color: rgb(217, 223, 193); }
.sensu-darken-text  { color: rgb( 58, 107,  72); }

.card { border-radius: 4px; }
.card .card-content { border-radius: 0; }
.card .card-action { border-top: none; }
.card .card-action a {
  color: rgb(58, 107, 72);
  text-transform: none;
  margin-right: 0;
}
.card .card-action a:hover {
  color: rgb(132, 179,  87);
}

.btn-floating + .btn-floating { margin-left: 10px; }
.btn-floating-group { margin: 15px 0; }

.fa-li { text-align: left; }

img.round-icon {
  height: 100px;
  border-radius: 50px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(58,107,72,1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(58,107,72,1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(58,107,72,1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(58,107,72,1), rgba(0,0,0,0));
}

@media screen and (max-width: 992px) {
  .left-large-center-med  { text-align: center; }
  .right-large-center-med { text-align: center; }

  img.round-icon {
    height: 150px;
    border-radius: 75px;
  }
}
