@keyframes splatIn {
  from {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
  }

  50% {
    opacity: 1;
    transform: scale3d(.95, .95, .95);
  }
}

.splatIn {
  animation-name: splatIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}
