// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

// Margin

.m-a-05 { margin:        ($spacer * .5) !important; }
.m-t-05 { margin-top:    ($spacer-y * .5) !important; }
.m-r-05 { margin-right:  ($spacer-y * .5) !important; }
.m-b-05 { margin-bottom: ($spacer-y * .5) !important; }
.m-l-05 { margin-left:   ($spacer-y * .5) !important; }
.m-x-05 { margin-right:  ($spacer-x * .5) !important; margin-left:   ($spacer-x * .5) !important; }
.m-y-05 { margin-top:    ($spacer-y * .5) !important; margin-bottom: ($spacer-y * .5) !important; }

// Padding

.p-a-05 { padding:        ($spacer * .5) !important; }
.p-t-05 { padding-top:    ($spacer-y * .5) !important; }
.p-r-05 { padding-right:  ($spacer-y * .5) !important; }
.p-b-05 { padding-bottom: ($spacer-y * .5) !important; }
.p-l-05 { padding-left:   ($spacer-y * .5) !important; }
.p-x-05 { padding-right:  ($spacer-x * .5) !important; padding-left:   ($spacer-x * .5) !important; }
.p-y-05 { padding-top:    ($spacer-y * .5) !important; padding-bottom: ($spacer-y * .5) !important; }
